name: Development Deploy

on:
  workflow_call:
    inputs:
      host: 
        required: true
        type: string
      key:
        required: true
        type: string
      user: 
        required: true
        type: string
      path:
        required: true
        type: string
      env:
        required: true
        type: string

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Project
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ inputs.host }}
          key: ${{ inputs.key }}
          username: ${{ inputs.user }}

          script: |
            cd ${{ inputs.path }}
            cat <<EOF > .env
            ${{ inputs.env }}
            EOF
            git pull origin develop
            composer install --prefer-dist --no-progress --no-suggest --no-interaction
            php artisan execute
