name: Development Deploy

on:
  workflow_call:
    inputs:
      deploy_path:
        required: true
        type: string
      deploy_env:
        required: true
        type: string
    secrets:
      deploy_host:
        required: true
      deploy_key:
        required: true
      deploy_user:
        required: true

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Project
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.deploy_host }}
          key: ${{ secrets.deploy_key }}
          username: ${{ secrets.deploy_user }}

          script: |
            cd ${{ inputs.deploy_path }}

            cat <<EOF > .env
            ${{ inputs.deploy_env }}
            EOF

            git pull origin ${{ github.ref_name }}

            if [ "${{github.ref_name}}" = "develop" ]; then
              composer install --prefer-dist --no-progress --no-suggest --no-interaction
            else
              composer install --prefer-dist --no-progress --no-suggest --no-interaction --no-dev
            fi

            php artisan execute
