name: NPM Deploy

on:
  workflow_call:
    secrets:
      deploy_host:
        required: true
      deploy_key:
        required: true
      deploy_user:
        required: true
      deploy_path:
        required: true
      deploy_env:
        required: true
      pm2_port:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      NODE_OPTIONS: "--max_old_space_size=512"
      NEXT_TELEMETRY_DISABLED: "1"
      REPO_NAME: ${{ github.event.repository.name }}
      PM2_CONFIG_PATH: "/var/www/configs/${{ github.event.repository.name }}.config.js"

    steps:
      - name: Checkout PM2 template repo
        uses: actions/checkout@v4
        with:
          repository: NeoTrick-Development/actions
          path: pm2-template

      - name: Generate PM2 config file
        run: |
          sed "s/{{APP_NAME}}/${{ env.REPO_NAME }}/g; s/{{APP_PORT}}/${{ secrets.pm2_port }}/g; s/{{APP_TYPE}}/npm/g; s#{{APP_PATH}}#${{ secrets.deploy_path }}#g" pm2-template/configs/pm2/npm.template.js > ${{ env.REPO_NAME }}.config.js

      - name: Upload PM2 config file for verification
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.deploy_host }}
          username: ${{ secrets.deploy_user }}
          key: ${{ secrets.deploy_key }}
          source: "${{ env.REPO_NAME }}.config.js"
          target: "${{ env.PM2_CONFIG_PATH }}"
